*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}


:root {
  --bg-color: #050406;
	--primary-color: #F84C6F;
	--text-color: rgb(255 255 255 / 87%);
}

body {
  background-color: var(--bg-color);
}

.container {
	max-width: 750px;
	width: 100%;
}

