
@import '~@fortawesome/fontawesome-free/css/all.css'; 
*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}


:root {
  --bg-color: #050406;
	--primary-color: #F84C6F;
	--text-color: rgb(255 255 255 / 87%);
}

.error-helper {
	margin-top: 4px;
	color: #F84C6F;
	font-size: 13px;
}

body {
  background-color: var(--bg-color);
}

.container {
	max-width: 750px;
	width: 100%;
}

button:hover {
	opacity: .7;
}

.form {
	&-control {
		display: flex;
		flex-direction: column;
		label {
			color: white;
			font-weight: bold;
			margin-bottom: 10px;
		}
		input {
			padding: 10px;
			outline: none;
			border: none;
			border-radius: 6px;
			font-size: 16px;
		}
	}
}

.footer-actions {
  button {
    &:not(:last-child) {
      margin-right: 10px;
    }
  }
}

